/* RESET  */
* {
  margin: 0;
  padding: 0;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
  outline: none; /* make sure to add focus state */
}

/* BASE STYLES  */
.app {
  font-family: "lato", sans-serif;
  font-size: 16px;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.app__container {
  display: flex;
  height: 90vh;
}

/* KEYFRAMES  */
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* STYLES  */

.header {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  height: 10vh;
  display: flex;
}

.logo {
  align-self: center;
  margin: 0px 32px;
  animation: fade-in-from-top 0.75s;
}

.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}

.dd-toggle {
  font-weight: bold;
  color: #910a67;
  padding: 8px;
  transition: all 0.4s;
  animation: fade-in-from-top 0.75s ease-in-out;
}

.dd-toggle:hover,
.dd-toggle:focus {
  cursor: pointer;
  color: #030637;
  background-color: #76d2e9;
}

.dd-toggle:last-child {
  display: flex;
  align-items: center;
}

.dd-toggle__img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 3px;
}

.dd-toggle__text {
  margin: 0 10px;
}

/* --------------------------------------------------------------- */

.sidebar {
  background-color: #10171a;
  width: 75px;
  display: flex;
  flex-direction: column;
}

.menu {
}

.menu__button {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  color: rgba(255, 255, 255, 0.4);
  width: 100%;
  align-items: center;
  transition: all 0.4s linear;
  animation: fade-in-left 0.75s ease-in-out;
}

.menu__button:hover,
.menu__button:focus {
  cursor: pointer;
  color: #fff;
  background-color: #2b363c;
}

.menu__button--active {
  background-color: #2b363c;
  border-left: 3px solid blue;
  color: #fff;
}

.menu__icon {
  margin-bottom: 5px;
  font-size: 18px;
}

.menu__text {
  font-weight: 500;
  font-size: 12px;
}

.footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
  transform: rotate(-90deg);
}

.copyright {
  color: rgba(255, 255, 255, 0.15);
  font-size: 12px;
  white-space: nowrap;
}

/* --------------------------------------------------------------- */

.panel {
  background-color: #2b363c;
  width: 350px;
}

/* --------------------------------------------------------------- */

.main {
  background-color: #edf1fe;
  flex: 100;
}
